.resource-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 1rem;
}

.resource-list > * {
  margin: 0 0.5rem; /* Adjust the margin as needed */
}
