/* Student Resources Page Styling */

.homePage-background,
.NewStudents-background,
.ContinuingStudents-background,
.GraduatingStudents-background {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  z-index: 1;
}

.homePage-background::before,
.NewStudents-background::before,
.ContinuingStudents-background::before,
.GraduatingStudents-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Dark overlay to improve text readability */
  z-index: -1;
}

.homePage-background {
  background-image: url(../../../../public/images/homeBackground.jpg);
}

.NewStudents-background {
  background-image: url(../../../../public/images/NewStudentsBackground.jpg);
}

.ContinuingStudents-background {
  background-image: url(../../../../public/images/ContinuingStudentsBackground.jpg);
}

.GraduatingStudents-background {
  background-image: url(../../../../public/images/GraduationBackground.jpg);
}
