/*edit this file for global styles*/
/*MSU COLORS are 
RED: #d11242
Blue #00447c
Grey #717073
*/
:root {
  --colorPrimary: #00447c;
  --colorPrimaryVariant: #d11242;
  --colorSecondary: #d5bfbf; /* Cards Buttons */
  --colorSecondaryVariant: #00447c; /* Nav Bar, Modal Header*/
  --colorBackground: #d5bfbf; /*Page Background*/
  --colorSurface: #d5bfbf;
  --colorError: red;
  --colorOnImages: white;
  --colorOnPrimary: black;
  --colorOnSecondary: black;
  --colorOnPrimaryVariant: black;
  --colorOnSecondaryVariant: white;
  --colorOnBackground: black;
  --colorOnSurface: black;
  --colorOnError: black;

  --navHeight: 4rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
